.ccontant {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;


}


.mainError {
    font-size: 200px;
    text-align: center;
}